{%extends 'layouts/base-man.html'%}
{% load static %}
{% load widget_tweaks %}

{%block container%}


<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static "logo.png" %}" width="160" height="60">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if user.is_authenticated %}
                 <div class="navbar-item">
                    <div class="buttons">

                        <a class="button is-info is-info modal-button" href="incomes/add">
                            <strong><i class="fas fa-plus-circle"></i> Add income</strong>
                        </a>

                        <a class="button is-info modal-button" href="expenses/add">
                            <strong><i class="fas fa-plus-circle" ></i> Add expense</strong>
                        </a>

                    </div>
                </div>
            {% else %}

            <a class="navbar-item" href="#features">
                Features
            </a>

            <a class="navbar-item" href="#contributors">
                Contributors
            </a>

            <a class="navbar-item">
                How it works
            </a>

            {% endif %}


        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}
            <div class="navbar-item">
                <h3 class="has-background-success-light">
                    <span class="icons">
                    <i class="fas fa-user"></i>
                    </span>
                    {{ user.username }}
                </h3>
            </div>

            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/accounts/logout">
                        Log out
                    </a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/accounts/register">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-light" href="/accounts/login">
                        Log in
                    </a>
                </div>
            </div>
            {% endif %}

        </div>

    </div>
    </nav>

    {%if user.is_authenticated%}

            <section class="section">
                    <div class="columns">
                        <div class="column is-3">
                            <article class="panel is-success">
                                <p class="panel-heading">
                                    Latest incomes
                                </p>
                                {% for income in latest_incomes %}
                                <p class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                                    </span>
                                    {{ income.name }}  |  <a href="/activity/delete/{{ income.id }}">&nbsp<i class="fas fa-trash" style="color: red"></i> </a>
                                </p>
                                    {% empty %}
                                    <p class="panel-block">
                                    No recent incomes
                                    </p>
                                {% endfor %}

                            <p class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-bars" aria-hidden="true"></i>
                                    </span>
                                    Incomes average : {{ gain_avg }}
                                </p>

                            <p class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-bars" aria-hidden="true"></i>
                                    </span>
                                    <a href="/incomes/history/{{ month }}">All history</a>
                                </p>
                            </article>
                        </div>

                    <div class="column is-3">
                            <article class="panel is-danger">
                                <p class="panel-heading">
                                    Latest expenses
                                </p>
                                {% for expense in latest_expenses %}
                                <p class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                                    </span>
                                    {{ expense.name }}  | <a href="/activity/delete/{{ expense.id }}">&nbsp<i class="fas fa-trash" style="color: red"></i> </a>
                                </p>
                                    {% empty %}

                                    <p class="panel-block">
                                    No recent expenses
                                    </p>
                                {% endfor %}
                            <p class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-bars" aria-hidden="true"></i>
                                    </span>
                                    Expenses average : {{ spent_avg }}
                                </p>
                            <p class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-bars" aria-hidden="true"></i>
                                    </span>
                                <a href="/expenses/history/{{ month }}">All history</a>
                                </p>
                            </article>
                        </div>

                    </div>
            </section>

    {%else%}
    <section class="hero is-medium is-primary is-bold">

        <div class="hero-body">

            <div class="container">
                <div class="columns">
                    <div class="column is-5">
                        <img src="{% static "img/utils/1.png"%}" width="500">
                    </div>
                    <div class="column is-7">

                    <h4 class="title is-1 has-text-centered">
                        Pocket-Man
                    </h4>
                    <p class="has-text-justified is-size-4">
                        Pocket-man is a web application that helps you manage your financial life.
                        It allows you to keep an eye on your expenses, allows you to know how to manage
                        your expenses, to control the evolution of your expenses over a given period and
                        to know exactly how much you need in a month.
                    </p>

                    <a href="/accounts/login">
                    <button class="button is-fullwidth is-success is-outlined is-inverted" >
                        Get started
                    </button>
                     </a>



                    </div>

                </div>

                    <div class="columns">
                        <div class="column is-12">
                            <h3 class="title is-3">Keep eye on your finances</h3>
                        </div>
                    </div>

                <div class="columns">
                    <div class="column is-12">
                            <img src="{% static "img/utils/5.png" %}">
                         </div>
                </div>


                <div class="columns">
                    <div class="column is-12 is-offset-5">
                        <h3 class="title is-2">Features</h3>
                    </div>
                </div>

                <hr>

                <div class="columns" id="features">

                    <div class="column">

                        <h3 class="title is-1"><i class="fas fa-plus-square"></i></h3>
                    <div class="list">
                         <ul>
                                <div class="list-item">
                                    <li>
                                      <i class="fas fa-thumbtack"></i>  Record your expense
                                    </li>
                                </div>

                                 <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> record your income
                                    </li>
                                </div>

                                 <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Categorize your income
                                    </li>
                                </div>

                                 <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Categorize your expense
                                    </li>
                                </div>

                            </ul>
                    </div>

                    </div>

                    <div class="column">
                        <h3 class="title is-1"><i class="fas fa-eye"></i></h3>
                        <div class="list">

                            <ul>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Keep an eye on your activities
                                    </li>

                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Check your expense history
                                    </li>
                                </div>

                                <div class="list-item">

                                    <li>
                                        <i class="fas fa-thumbtack"></i> Check your income history
                                    </li>

                                </div>

                                 <div class="list-item">

                                    <li>
                                        <i class="fas fa-thumbtack"></i> Check your balance
                                    </li>

                                </div>

                            </ul>

                        </div>
                    </div>

                    <div class="column ">
                        <h3 class="title is-1"><i class="fas fa-chart-bar"></i></h3>

                            <div class="list">

                            <ul>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Average monthly expenditure
                                    </li>
                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Average monthly income
                                    </li>
                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Expenditure evolution graph
                                    </li>
                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Income evolution graph
                                    </li>
                                </div>

                            </ul>

                        </div>

                    </div>

                    <div class="column ">
                        <h3 class="title is-1"><i class="fas fa-globe"></i></h3>

                            <div class="list">

                            <ul>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> French
                                    </li>
                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> English
                                    </li>
                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Spanish
                                    </li>
                                </div>

                                <div class="list-item">
                                    <li>
                                        <i class="fas fa-thumbtack"></i> Deutsch
                                    </li>
                                </div>

                            </ul>

                        </div>

                    </div>


                </div>
                <hr>
                <div class="columns">
                    <div class="column is-12 is-offset-5">
                        <h3 class="title is-2">Contributors</h3>
                    </div>
                </div>

                <div class="columns" id="contributors">

                    <div class="column">

                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by1">

                                    <img src="{% static "img/contributors/shadow.jpg" %}">

                                </figure>
                            </div>

                            <div class="card-content">

                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{% static "img/contributors/pocket.png" %}">
                                        </figure>
                                    </div>

                                    <div class="media-content">
                                        <h4 class="title is-4 has-text-black">Sadi H. Paraiso</h4>
                                        <h6 class="subtitle is-6 has-text-info">Web back-end developer</h6>
                                    </div>

                                </div>
                                <div class="content">
                                         <h6><i class="fab fa-twitter"></i> <a href="https://twitter.com/shadow_compiler">@shadow_compiler</a></h6>
                                         <h6><i class="fab fa-github"></i> <a href="https://github.com/shadowcompiler">@shadowcompiler</a> </h6>
                                         <h6><i class="fas fa-globe"></i> <a href="http://henri-dev.tech">henri-dev.tech</a> </h6>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="column">

                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by1">

                                    <img src="{% static "img/contributors/sad.jpg" %}">

                                </figure>
                            </div>

                            <div class="card-content">

                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{% static "img/contributors/pocket.png" %}">
                                        </figure>
                                    </div>

                                    <div class="media-content">
                                        <h4 class="title is-4 has-text-black">Saad Liamidi</h4>
                                        <h6 class="subtitle is-6 has-text-info">Web back-end developer</h6>
                                    </div>

                                </div>
                                <div class="content">
                                        <h6><i class="fab fa-twitter"></i> <a href="https://twitter.com/"></a></h6>
                                         <h6><i class="fab fa-github"></i> <a href="https://github.com/dash201">@dash201</a> </h6>
                                         <h6><i class="fas fa-globe"></i> <a href="">Saad</a> </h6>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="column">

                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by1">

                                    <img src="{% static "img/contributors/mus.jpg" %}">

                                </figure>
                            </div>

                            <div class="card-content">

                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{% static "img/contributors/pocket.png" %}">
                                        </figure>
                                    </div>

                                    <div class="media-content">
                                        <h4 class="title is-4 has-text-black">Mustapha Ganiou</h4>
                                        <h6 class="subtitle is-6 has-text-info">Tester</h6>
                                    </div>

                                </div>
                                <div class="content">
                                        <h6><i class="fab fa-twitter"></i> <a href="https://twitter.com/"></a></h6>
                                         <h6><i class="fab fa-github"></i> <a href="https://github.com/"></a> </h6>
                                         <h6><i class="fas fa-globe"></i> <a href=""></a> </h6>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>

                </div>
        </div>

    </section>
    {%endif%}

{%endblock%}