{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block container %}
    <div class="column is-two-fifths is-offset-4">
        <h3 class="has-text-centered title has-text-info is-3">Log in</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                {% if form.errors %}
                <div><small class="has-text-danger">Your username and password didn't match ! Please try again.</small></div>

            {% endif %}
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    {{ form.username|add_class:"input" }}
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
             <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    {{ form.password|add_class:"input" }}
                    <span class="icon is-small is-left">
                        <i class="fa fa-key"></i>
                    </span>

                </div>
            </div>

        <div><small>You don't have an account ? <a href="/accounts/register">Register </a></small></div>
            <div class="control">

                    <input class="button is-link" type="submit" value="Log in">

                </div>
        </form>
    </div>
{% endblock %}