{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block container %}
    <div class="column is-12 is-offset-5">
        <a href="/"><img src="{% static "logo.png" %}" width="200px"></a>

    </div>
    <div class="column is-two-fifths is-offset-4">

        <form method="POST">
            {% csrf_token %}
            <div class="field">
                {% if form.errors %}
                <div><small class="has-text-danger">Your username and password didn't match ! Please try again.</small></div>

            {% endif %}
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    {{ form.username|add_class:"input" }}
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
             <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    {{ form.password|add_class:"input" }}
                    <span class="icon is-small is-left">
                        <i class="fa fa-key"></i>
                    </span>

                </div>
            </div>

       
            <div class="control">

                    <input class="button is-link is-fullwidth" type="submit" value="Log in">

                </div>
        </form>
         <div><small>You don't have an account ? <a href="/accounts/register">Register </a></small></div>
    </div>
{% endblock %}